<h1>Welcome to Vegan BFFs!</h1>
<% if user_signed_in? %>
    Thanks for registering with us!  
<% else %>
    Thanks for visiting our site!  Please <a href='/users/sign_up'>sign up</a> for more information. Or visit our <a href='/blog'>blog</a>.
<% end %>